<ngb-carousel class="mainCarrousel">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper mainSlide">
      <img
        class="imgSlide"
        src="../../assets/Imagens/BomDiaCidade.jpg"
        alt="Bom Dia Cidade"
      />
    </div>
    <div class="carousel-caption">
      <h3>Bom Dia Cidade</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper mainSlide">
      <img
        class="imgSlide"
        src="../../assets/Imagens/EPTVCidade.jpg"
        alt="EPTV Cidade"
      />
    </div>
    <div class="carousel-caption">
      <h3>EPTV Cidade</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper mainSlide">
      <img
        class="imgSlide"
        src="../../assets/Imagens/JornaldaEPTV1ED.jpg"
        alt="Jornal da EPTV 1º Edição"
      />
    </div>
    <div class="carousel-caption">
      <h3>Jornal da EPTV 1º Edição</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper mainSlide">
      <img
        class="imgSlide"
        src="../../assets/Imagens/JornaldaEPTV2ED.jpg"
        alt="Jornal da EPTV 2º Edição"
      />
    </div>
    <div class="carousel-caption">
      <h3>Jornal da EPTV 2º Edição</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper mainSlide">
      <img
        class="imgSlide"
        src="../../assets/Imagens/MaisCaminhos.jpg"
        alt="Mais Caminhos"
      />
    </div>
    <div class="carousel-caption">
      <h3>Mais Caminhos</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper mainSlide">
      <img
        class="imgSlide"
        src="../../assets/Imagens/TerradaGente.jpg"
        alt="TerradaGente"
      />
    </div>
    <div class="carousel-caption">
      <h3>TerradaGente</h3>
    </div>
  </ng-template>
</ngb-carousel>
